@import "../base.scss";

.boxscoreBody{
    flex:30%;
    margin-top: 100px;

    .boxHeader{
        background-color: black;
        color:white;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 15px;
        padding:5px 10px;
    }
   
        .p{
            flex:30%;
            font-size:20px;
            color:rgb(121, 110, 110);
            text-align: center;
        
        
    }
   
    
}