@import "../../globalStyles.scss";
@import "../base.scss";

table {
    margin: auto 10%;
    width: 80%;
    border-collapse: collapse;

    tr {
        height: 5vh;
        max-height: 50px;
        border-bottom: 0.5px solid #1d1d1d;
    }

    .tableHead {
        margin-bottom: 20px;

        th {
            width: 100%;
            padding: 8px 16px;
        }
        .longName {
            padding: 8px 40px;
            
        }
    }

    .tableBody {
        text-align: center;

        th {
            text-align: left;
        }
        .icon {
            width: 28px;
            height: 28px;
            padding: 0 4px;
        }
    }
}

.addResult{
    position: absolute;
    right: 0;
    margin-top: 5vh;
    margin-right: 10%;
    background-color:$jitYellow;
    border-radius:3%;
    outline: 0 !important;
    padding:8px 16px;
    font-size:14px;
    border-radius: 10px;
    font-weight:500;
    border:0px;

    &:hover {
        cursor: pointer;
        background-color: rgba($jitYellow, 0.5);

    }
}
.groupSelect {
    position: relative;
    margin-left: 10%;
    margin-bottom: 20px;
}

#group-select {
    font-family: 'Moderat';
}

#item-select {
    font-family: 'Moderat';
}