@import "../base.scss";
.TournamentBox {
	width: 85%;
	background-color: black;
	color: white;
	margin: 15px auto;
    position:relative;
    display:flex;
    padding:20px 10px;
    >.SignUp{
        >p{
            font-size:25px;
            border-bottom:1px solid white;
            display:inline;
            >span{
            color:$jitYellow
        }
        }
        >p:hover{
            cursor:pointer;
        }
    }
    >.dateTime{
        font-size:20px;
        padding-top:5px;
        margin-left:20px;
    }
    >.deadline{
        position:absolute;
        bottom:5px;
        right:5px;
    }
}

