@import "../base.scss";

.pageStyle {
    margin-top: 5%;
    margin-left: 5%;
    max-width: 80vw;
}

.innerNav {
    display: flex;
    text-align: center;
    align-items: center;
}


.boxHeader{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        padding:20px;
        color:$jitYellow;

        >span{
                font-size: 30px;
                margin:auto;
                
            
            }
        >p{
            color:$jitYellow;
            font-size:30px;
            margin: 0 0 0 0;
           
        }
        

    }
